body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 3px 10px(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 5px;
}

button:hover {
    opacity: 0.8;
}

.logout {
    background: crimson;
    margin-bottom: 20px;
}

.expense-list button {
  margin-left: 10px;
  padding: 3px 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.delete-btn {
  background: crimson;
  color: white;
}

.edit-btn {
  background: steelblue;
  color: white;
}